@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';

@import url('https://fonts.googleapis.com/css?family=Poppins');

$color-primary: #669C5E;
$color-secondary: #e8A90C;
$color-secondary-light: #f6c957;
$color-black: #2C3E50;
$color-white: #FFFFFF;

$fontSize-default: 1rem ; 