@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';

@import url('https://fonts.googleapis.com/css?family=Poppins');

$color-primary: #669C5E;
$color-secondary: #e8A90C;
$color-secondary-light: #f6c957;
$color-black: #2C3E50;
$color-white: #f2f3f4; // Anti-flash white

$fontSize-default: 1.1rem ; 

// commented : now use the .nightMode or .lightMode classes in App.vue
// html {
//     background-color: $color-black;   
// }

a {
    color: $color-secondary
}
a:hover {
    color: $color-primary
}


.centerMe {
    left: 0;
    right: 0;
    text-align: center;
    display: inline-block;
}
.fitMe {
    font-size: 1vw !important;
}


.ced-btn {
    background-color: $color-secondary ;
    transition-duration: 0.25s;
}
.ced-btn:hover {
    background-color: $color-primary ;
    transition-duration: 0.25s;
}
.ced-btn:focus {
    background-color: $color-secondary ;
}
.ced-btn-forceActive {
    background-color: $color-primary !important;
    transition-duration: 0.25s;
}


.ced-popup {
    // color: #2C3E50 ; 
    font-weight: bold;
    font-size: $fontSize-default*1.2;
    
    border: $color-primary solid ;
    background: $color-primary ;
    border-radius: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5); 
    margin: 0.5rem;
    padding: 1rem;;
    
    width: fit-content;
}


.ced-contentBlock {
    padding-bottom: 3rem; 
}


.ced-skill {
    color: $color-white;
    font-size: $fontSize-default*1.333;

    cursor: context-menu;

    background-color: $color-primary;
    border: $color-primary solid 1px;
    display: inline-block;
    border-radius: 9000px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;

    margin: 0.5rem
}


.ced-rangeInput {
    direction: rtl !important;
}


hr.ced-hr {
    border: solid 2px;
    border-radius: 9000px; 
}


.ced-important {
color: $color-primary;
font-size: $fontSize-default*1.2;
margin: $fontSize-default*0.5;
font-weight: bold;
}


.ced-customRow {
    font-size: $fontSize-default;
    padding-bottom:2rem;
    transition: 1s;
}
.ced-customRow:hover {
    font-size: 1.25em; //multiply by 
    color: $color-primary;
    margin-top:1rem;
    margin-bottom:1rem;
    transition: 1s;
}
.ced-customRow * {
    align-self: center;
}